

<script type="text/javascript">
    // Make outgoing calls
    function call(sip_endpoint) {
        if ($('#make_call').text() == "Call") {
            // The destination phone number to connect the call to
            var dest = sip_endpoint;

            if (isNotEmpty(dest)) {
                $('#status_txt').text('Calling..');
                // Connect the call
                Plivo.conn.call(dest);
                $('#make_call').text('End');
            }
            else{
                $('#status_txt').text('Invalid Destination');
            }
        }
        else if($('#make_call').text() == "End") {
            $('#status_txt').text('Ending..');
            // Hang up the call
            Plivo.conn.hangup();
            $('#make_call').text('Call');
            $('#status_txt').text('Ready');
        }
    }
    // Login with SIP Endpoint
    function login() {
        // SIP Endpoint username and password
        var username = $('#caller_name').val();
        var password = $('#caller_password').val();
        console.log(username)
        console.log(password)
        // Login
        Plivo.conn.login(username, password);
    }
    function logout() {
        $('#status_txt').text('Logged out');
        Plivo.conn.logout();
        $('#login_button').removeClass('hidden');
        $('#callcontainer .form-group').removeClass('hidden');
        $('#number-list').addClass('hidden');
        $('#make_call').addClass('hidden');
        $('#logout_box').hide();
    }
    function isNotEmpty(n) {
        return n.length > 0;
    }
    function onCalling() {
        console.log("onCalling");
        $('#status_txt').text('Connecting....');
    }
    function  onMediaPermission (result) {
        if (result) {
            console.log("get media permission");
        } else {
            alert("you don't allow media permission, you will can't make a call until you allow it");
        }
    }
    function webrtcNotSupportedAlert() {
        $('#txtStatus').text("");
        alert("Your browser doesn't support WebRTC. You need Chrome 25 to use this demo");
    }
    function onLogin() {
        $('#status_txt').text('Logged in');
        $('#login_button').addClass('hidden');
        $('#callcontainer .form-group').addClass('hidden');
        $('#number-list').removeClass('hidden');
        $('#make_call').removeClass('hidden');
        $('#logout_box').show();
    }
    function onLoginFailed() {
        $('#status_txt').text("Login Failed");
    }
    function onCallRemoteRinging() {
        $('#status_txt').text('Ringing..');
    }
    function onCallAnswered() {
        console.log('onCallAnswered');
        $('#status_txt').text('Call Answered');
    }
    function onReady() {
        console.log("onReady...");
    }
    // Initialization 
    $(document).ready(function() {
        Plivo.onWebrtcNotSupported = webrtcNotSupportedAlert;
        Plivo.onReady = onReady;
        Plivo.onLogin = onLogin;
        Plivo.onLoginFailed = onLoginFailed;
        Plivo.onCalling = onCalling;
        Plivo.onCallRemoteRinging = onCallRemoteRinging;
        Plivo.onCallAnswered = onCallAnswered;
        Plivo.onMediaPermission = onMediaPermission;
        Plivo.init();
    });
</script>

<div class="col-sm-6 col-sm-offset-3 alert alert-info text-center">
    <div class="row-fluid marketing">
        <div class="span12">
            <h4>Login with Plivo</h4>

            <br/>

            <div id="logout_box" style="display: none">
                <a class="btn btn-danger" 
                   type="button" 
                   id="btn_logout" 
                   onclick="logout()">Logout</a>
            </div>

            <form id="callcontainer" style="">
              <div class="form-group">
                <input class="form-control" 
                       type="text" 
                       id="caller_name"
                       value="Caller151023165146"
                       placeholder="Your Plivo username">
              </div>
                
              <div class="form-group">
                <input class="form-control" 
                       type="password" 
                       id="caller_password"
                       value="materia"
                       placeholder="Your Plivo password">
              </div>

              <a href="javascript:void(0);" 
                 onclick="login();"
                 id="login_button" 
                 class="btn btn-primary">Login</a>

              <a href="javascript:void(0);" 
                 id="make_call" 
                 class="btn main-btn btn-success hidden" 
                 onclick="call();">Call</a>
            </form>
        </div>
    </div>
</div>

<div id="number-list" class="hidden">
  <section class="col-md-6 col-sm-12">
    <h4>Our staff</h4>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @phone_numbers.user.each do |number| %>
        <tr>
          <td><%= number %></td>
          <td>
            <a href="javascript:void(0);" 
               class="btn btn-primary call-btn"
               onclick="call('<%= number.sip_endpoint %>');">
              <i class="glyphicon glyphicon-earphone"></i>
              &nbsp;&nbsp;Call
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section class="col-md-6 col-sm-12">
    <h4>Our departments</h4>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @phone_numbers.company.each do |number| %>
        <tr>
          <td><%= number %></td>
          <td>
            <a href="javascript:void(0);" 
               class="btn btn-primary call-btn"
               onclick="call('<%= number.sip_endpoint %>');">
              <i class="glyphicon glyphicon-earphone"></i>
              &nbsp;&nbsp;Call
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>



